version: '3.8'

services:
  cert-generator:
    build: .
    container_name: certificates_app
    ports:
      - "5000:5000"
    volumes:
      - ./app/latex_templates:/app/latex_templates
      - ./app/templates:/app/templates
      - ./generated:/app/generated
    environment:
      - FLASK_APP=run.py
      - FLASK_DEBUG=1
      - ADMIN_USER=${ADMIN_USER}
      - ADMIN_PASSWORD=${ADMIN_PASSWORD}