version: '3.8'

services:
  cert-generator:
    build: .
    container_name: certificates_app
    ports:
      - "5000:5000"
    volumes:
      # Map Data (So you can edit CSVs on your host)
      - ./students.csv:/app/students.csv
      - ./signers.csv:/app/signers.csv
      
      # Map Templates & Images (So you can design on your host)
      - ./latex_templates:/app/latex_templates
      - ./media:/app/media
      - ./templates:/app/templates
      
      # Map Output (So generated PDFs appear on your host)
      - ./generated:/app/generated
    environment:
      - FLASK_APP=app.py
      - FLASK_DEBUG=1  # Keeps debug mode on